.topbar{
	background: dimgray;
	display: flex;
	justify-content:  flex-end;
}
.icons{
	color: black;
	padding: 5px;
}
.searchbar, .searchbutton{
	margin: 1px;
	text-align: center;
	border-radius: 20px;
	border: 1px solid transparent;
}
.sidebar{
	/*background: rgba(0, 0, 0, 0.1);*/
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top:2px solid dimgray;
}
.sidebar > a {
	color: black;
	text-decoration: none;
	padding: 10px;
	flex: 25%;
	text-align: center;
}

.fbar{
	font-size: 15px;
	text-decoration: none;
	font-family: sans-serif;
	border-top:2px solid gray;
	display: flex;
	flex-direction: row;
}
.nbar{
	display: flex;
	flex: 33%;
	flex-direction: column;
	text-align: center;
	padding: 10px;
}
.sicons{
	width: 35px;
	padding: 10px;
}
.cbar >a{
	text-decoration: none;
	color: dimgray;
}

@media (max-width: 800px) {
  .fbar {
    flex-direction: column;
  }
}